<div class="container mt-3">
  <h1>Formulario</h1>
  <div class="row">
    <div class="col-12">
      <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingBusqueda" placeholder="1234567890" [(ngModel)]="cedula" >
        <label for="floatingBusqueda">Cedula de Identidad</label>
        <button class="btn btn-primary mt-3 " (click)="getUsuariobyCedula()"> Buscar </button>
      </div>

      <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon-nombre">Nombre</span>
        <input type="text" class="form-control"  aria-label="Nombre" aria-describedby="basic-addon1" [(ngModel)]="nombre">
      </div>

      <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon-cedula">Cedula</span>
        <input type="text" class="form-control"  aria-label="cedula" aria-describedby="basic-addon1" [(ngModel)]="cedula">
      </div>
      <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon-telefono">Telefono</span>
        <input type="text" class="form-control"  aria-label="telefono" aria-describedby="basic-addon1" [(ngModel)]="telefono">
      </div>
      <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon-direccion">Direccion</span>
        <input type="text" class="form-control"  aria-label="direccion" aria-describedby="basic-addon1" [(ngModel)]="direccion">
      </div>

      <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon-correo">Correo</span>
        <input type="text" class="form-control"  aria-label="Nombre" aria-describedby="basic-addon1" [(ngModel)]="correo">
      </div>







    </div>
  </div>
</div>
